.details {
  display: block;
  position: relative;
  font-size: 0.6em;
  background-color: white;

  .left-canvas {
    float: left;
    width: 50%;
    box-sizing:border-box;
    border-width: 0;
    -o-border-image: -o-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
    -moz-border-image: -moz-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
    -ms-border-image: -ms-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
    border-right-width: 1px;
    padding: 30px 35px;
  }

  .right-canvas {
    float: right;
    width: 50%;
    box-sizing:border-box;
    padding: 30px 35px;
  }
  
  .name {
    font-size: 2em;
    margin-left: 10px;
    margin-bottom: 25px;
    color: #CCCCCC;
  }
  
  .load {
    .chart {
      display: inline-block;
      margin: 0 49px 10px 50px;
    }
    
    .kpi-group {
      font-size: 3.5em;
      line-height: 100%;
      display: inline-block;   
      padding-bottom: 20px;
    }

  }
  
  .memory {
    .chart {
      display: inline-block;
      margin: 0 49px 50px 50px;
    }
    
    .kpi-group {
      font-size: 3.5em;
      line-height: 80%;
      display: inline-block;
    }
  }
  
  .sub-stats {
    font-size: 0.6em;
    color: #AAAAAA;
    padding-top: 12px;

    p {
      display: inline;
    }
  }

  .stat-label { 
    font-size: 12px;
    color: #CCCCCC;
  }
  
  .vcpu {
    margin-left: 50px;
    padding-bottom: 30px;

    .stats {
      height: 40px;
      margin-left: 10px;
      position: relative;
      font-size: 3.5em;
    }
    
    .legend {
      position: static;
      display: inline-block;
      font-size: 1.5em;
    
      .numbers {
        float: left;
        text-align: right;
      
        p {
          padding-left: 0;
          padding-right: 10px;
        }
      }
    }
    
    .chart {
      margin-left: 4px;
      display: inline-block;
    
      .bar {
        width: 10px;
        margin-right: 2px;
        position: relative;
        display: inline-block;
        height: 80px;
        background-color: #eee;
      }

      .used {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
  
  .network {
      .kpi-group {
        font-size: 3.5em;
        line-height: 100%;
        display: inline-block;
        margin-left: 150px;
        float:right;
        p {
          display: inline;
        }
      }
  }

  .storage {
    
    .stats {
      position: relative;
      margin-top: 20px;
      margin-right: 55px;
      margin-left: 45px;
      font-size: 3.5em;
      height: 45px;
      text-align: right;
    }
    
    .bars {
      margin-left: 30px;
      padding-bottom: 20px;
      height: 30px;
      text-align: center;
      font-size: 1.5em;
      color: white;
      
      .unit{
        font-size: 0.8em;
      }
      
      .usage, .free {
        width: 285px;
        height: 40px;
        float: left;
        position: relative;
        white-space: nowrap;
        
        .bar {
          padding-top: 4px; 
          height: 30px;
          box-sizing: border-box;
          background-color: #18E000;
          overflow-x: hidden;
        }
      }
      
      .free .bar {
        background-color: #EEEEEE;
        color: #CCCCCC;
      }
      
      .kpi-label {
        color: #CCCCCC;
        font-size: 1em;
        line-height: 12px;
        box-sizing: border-box;
      }
    }
  }

}

.timeline {
  background-color: #EEEEEE;
  position: relative;
  cursor: default;
  padding-top: 15px;
   
  .periods {
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #eee;
    padding: 2px 10px;
    border-radius: 12px;
    line-height: 20px;
  }
   
  .period {
    margin: -2px 6px;
    padding: 2px 4px;
    cursor: pointer;
    color: #888;
    
    &.active {
      font-weight: bold;
    }
  }
  
  .graph-label {
    fill: #888;
  }
  
  .graph {
    stroke-width: 1;
    fill: none;  
  }
  
  .load {
    stroke: #3E64FF;
  }
  
  .memory {
    stroke: #E839CC;
  }
  
  .storage {
    stroke: #FF9B4B;
  }
  
  .network {
    stroke: #2E9E5E;
  }
  
  .network-error {
    fill: orange;
  }
  
  .meridian {
    stroke: #ccc;
    stroke-width: 1px;
    visibility: hidden;
  }
  
  .meridian-bg {
    stroke: transparent;
    stroke-width: 10px;
  }
  
  .active .meridian {
    visibility: visible;
  }
  
  .x-axis {
    fill: #AAA;
    font-size: 0.8em;
  }
}