.row {
  display: table-row;
}

.cell {
  position: relative;
  height: 100%;
  display: table-cell;
  vertical-align: top;
  background-color: #ccc;
  
  .buttons {
    position: absolute;
    bottom: 0;
    width: 212px;
  }
  
  .button {
    width: 33%;
    box-sizing: border-box;
    border: solid #ccc;
    border-width: 1px 1px 0 0;
    background-color: white;
    float: left;
    text-align: center;
  }
}

.hosts, .vms {
  width: 210px;
  
  .source {
    background-color: white;
    line-height: 20px;
    background-color: rgb(255, 255, 255);
    line-height: 20px;
    padding: 4px 6px;
    border: solid #ccc;
    border-width: 0 1px 1px 0;
    
    i {
      position: absolute;
      top: 7px;
      right: 7px;
    }
  }
  
  .filter {
    position: relative;
    
    input {
      background-color: rgb(255, 255, 255);
      line-height: 20px;
      padding: 4px 26px 4px 6px;
      box-sizing: border-box;
      box-shadow: none;
      -webkit-box-shadow: none;
      border: solid #ccc;
      border-radius: 0;
      width: 100%;
      display: block;
      height: auto;
      border-width: 0 1px 1px 0;
      margin: 0;
    }
    
    i {
      position: absolute;
      top: 7px;
      right: 7px;
    }
  }
  
  .list {
    margin: 0;
    list-style: none;
    
    .item {
      margin-bottom: 1px;
      position: relative;
      
      .host {
        background-color: white;
        height: 60px;
        margin-right: 1px;
        box-sizing: border-box;
        position: relative;
        
        .status {
          width: 5px;
          height: 100%;
          float: left;
        }
        
        .name {
          padding: 10px 15px 0;
        }
        
        .power {
          color: #888;
          padding: 0 15px 10px;
        }
      }
      
      &.active:after, &.active .host:after {
        content: '\0000a0';
        font-size: 0;
        height: 0px;
        width: 0px;
        border-left: 20px solid #ccc;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        position: absolute;
        z-index: 1;
        right: -20px;
        top: 0;
      }
      
      &.active .host:after {
        border-left-color: white;
        z-index: 2;
      }
    }
  }
}

.vms {
  .source, .filter input {
    border-width: 0 0 1px 1px;
  }
  
  .host {
    margin-left: 1px;
    margin-right: 0 !important;
    
    .status {
      float: right !important;
    }
  }
  
  .item.active {
    &:after, & .host:after {
      border-right: 20px solid #ccc;
      border-left: 0 !important;
      right: auto !important;
      left: -20px;
    }
    & .host:after {
      border-right-color: white;
    }
  }
  
  &~.buttons .button {
    border-width: 1px 0 0 1px;
  }
}

.details {
  display: block;
  position: relative;
  font-size: 0.8em;
  background-color: white;
  width: 860px;

  .left-canvas {
    float: left;
    width: 50%;
    box-sizing:border-box;
    border-width: 0;
    -o-border-image: -o-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
    -moz-border-image: -moz-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
    -ms-border-image: -ms-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
    border-right-width: 1px;
    padding: 30px 25px;
  }

  .right-canvas {
    float: right;
    width: 50%;
    box-sizing:border-box;
    padding: 30px 25px;
  }
  
  .name {
    font-size: 2em;
    color: #CCCCCC;
  }
  
  .load {
    .chart {
      display: inline-block;
      margin: 34px 36px 54px;
    }
    
    .kpi-group {
      margin: 0 22px;
      font-size: 3.5em;
      line-height: 80%;
      display: inline-block;
    }
  }
  
  .memory {
    .chart {
      display: inline-block;
      margin: 34px 26px 54px;
    }
    
    .kpi-group {
      margin: 0 12px;
      font-size: 3.5em;
      line-height: 80%;
      display: inline-block;
    }
  }
  
  .sub-stats {
    font-size: 0.5em;
    color: #AAAAAA;
    padding-top: 12px;

    p {
      display: inline;
    }
  }

  .stat-label { 
    font-size: 18px;
    color: #CCCCCC;
  }
  
  .vcpu {
    .stats {
      height: 40px;
      position: relative;
      font-size: 3.5em;
    }
    
    .legend {
      position: static;
      display: inline-block;
    
      .numbers {
        float: left;
        text-align: right;
      
        p {
          padding-left: 0;
          padding-right: 10px;
        }
      }
    }
    
    .chart {
      margin-left: 4px;
      display: inline-block;
    
      .bar {
        width: 10px;
        margin-right: 2px;
        position: relative;
        display: inline-block;
        height: 100px;
        background-color: #eee;
      }

      .used {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
  
  .storage {
    
    .stats {
      position: relative;
      margin-top: 20px;
      margin-right: 16px;
      margin-left: 45px;
      font-size: 3.5em;
      height: 45px;
      text-align: right;
    }
    
    .bars {
      padding-bottom: 20px;
      height: 30px;
      text-align: center;
      font-size: 1.2em;
      color: white;
      
      p {
        padding-top: 4px; 
      }
      
      .unit{
        font-size: 0.8em;
      }
      
      .usage {
        width: 285px;
        height: 100%;
        background-color: #18E000;		
        float: left;
      }
      
      .free {
        width: 80px;
        height: 100%;
        background-color: #EEEEEE;
        float: left;
        
        p {
          color: #CCCCCC;
        }
      }
      
      .kpi-label {
        color: #CCCCCC;
        font-size: 0.8em;
      }
    }
  }

}

.timeline {
  width: 860px;
  background-color: #EEEEEE;
  position: relative;
  cursor: default;
  padding-top: 30px;
   
  .periods {
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #eee;
    padding: 2px 10px;
    border-radius: 12px;
    line-height: 20px;
  }
   
  .period {
    margin: -2px 6px;
    padding: 2px 4px;
    cursor: pointer;
    color: #888;
    
    &.active {
      font-weight: bold;
    }
  }
  
  .graph-label {
    fill: #888;
  }
  
  .graph {
    stroke-width: 2;
    fill: none;
  }
  
  .load {
    stroke: steelblue;
  }
  
  .memory {
    stroke: red;
  }
  
  .storage {
    stroke: green;
  }
  
  .network {
    stroke: orange;
  }
  
  .network-error {
    fill: orange;
  }
  
  .meridian {
    stroke: #ccc;
    stroke-width: 1px;
    visibility: hidden;
  }
  
  .meridian-bg {
    stroke: transparent;
    stroke-width: 10px;
  }
  
  .active .meridian {
    visibility: visible;
  }
  
  .x-axis {
    fill: #888;
  }
}