<div>
<!--	<h2>Dashboard</h2> -->
	<div id="cardgroup">
		<div class="card_area" ng-click="switchTab('load')">
			<div id="cpu_card" class="card" ng-class="isTab('load') && 'active'">
				<div class="card_header">
					<div class="card_name">
						<p>Load</p>
					</div>
					<div class="status_area">
						<div class="status_icon">
							<svg>
								<circle class="{{ statusOf( 'load', aggregate.load.average ).status }}" cx="7" cy="7" r="7"></circle>
							</svg>
						</div>
						<p class="status">{{ statusOf( 'load', aggregate.load.average ).text }}</p>
					</div>
				</div>
				<div class="card_body">
					<div class="stat_big">
						<p class="{{ statusOf( 'load', aggregate.load.average ).status }}">{{ aggregate.load.average | number:2 }}<span class="unit"></span><!-- KI2Sui: this prevents style from falling apart. Need you to alter styles. --></p>
						<p class="kpi_label">average load</p>
					</div>
					<div class="stat_small">
						<p class="{{ statusOf( 'load', aggregate.load.peak ).status }}">{{ aggregate.load.peak | number:2 }}<span class="unit"></span></p>
						<p class="kpi_label">peak load</p>
					</div>
				</div>
				<div class="trend">
					<img src="/img/trend1.png" alt="trend chart"/>
				</div>
			</div>
		</div>
		<div class="card_area" ng-click="switchTab('memory')">
			<div id="memory_card" class="card" ng-class="isTab('memory') && 'active'">
				<div class="card_header">
					<div class="card_name">
						<p>Memory</p>
					</div>
					<div class="status_area">
						<div class="status_icon">
							<svg>
								<circle class="{{ statusOf( 'memory', aggregate.memory.allocated ).status }}" cx="7" cy="7" r="7"></circle>
							</svg>
						</div>
						<p class="status">{{ statusOf( 'memory', aggregate.memory.allocated ).text }}</p>
					</div>
				</div>
				<div class="card_body">
					<div class="stat_big">
						<p class="{{ statusOf( 'memory', aggregate.memory.allocated ).status }}">{{ aggregate.memory.allocated | number:0 }}<span class="unit">%</span></p>
						<p class="kpi_label">capacity allocated</p>
					</div>
					<div class="stat_small">
						<p class="{{ statusOf( 'memory', aggregate.memory.committed ).status }}">{{ aggregate.memory.committed | number:0 }}<span class="unit">%</span></p>
						<p class="kpi_label">committed</p>
					</div>
				</div>
				<div class="trend">
					<img src="/img/trend2.png" alt="trend chart"/>
				</div>
			</div>
		</div>
		<div class="card_area" ng-click="switchTab('storage')">
			<div id="storage_card" class="card" ng-class="isTab('storage') && 'active'">
				<div class="card_header">
					<div class="card_name">
						<p>Storage</p>
					</div>
					<div class="status_area">
						<div class="status_icon">
							<svg>
								<circle class="{{ statusOf( 'storage', aggregate.storage.allocated ).status }}" cx="7" cy="7" r="7"></circle>
							</svg>
						</div>
						<p class="status">{{ statusOf( 'storage', aggregate.storage.allocated ).text }}</p>
					</div>
				</div>
				<div class="card_body">
					<div class="stat_big">
						<p class="{{ statusOf( 'storage', aggregate.storage.allocated ).status }}">{{ aggregate.storage.allocated | number:0 }}<span class="unit">%</span></p>
						<p class="kpi_label">capacity allocated</p>
					</div>
					<div class="stat_small">
						<p class="{{ statusOf( 'storage', aggregate.storage.committed ).status }}">{{ aggregate.storage.committed | number:0 }}<span class="unit">%</span></p>
						<p class="kpi_label">committed</p>
					</div>
				</div>
				<div class="trend">
					<img src="/img/trend3.png" alt="trend chart"/>
				</div>
			</div>
		</div>
		<div class="card_area" ng-click="switchTab('ip')">
			<div id="ip_card" class="card" ng-class="isTab('ip') && 'active'">
				<div class="card_header">
					<div class="card_name">
						<p>IPs</p>
					</div>
					<div class="status_area">
						<div class="status_icon">
							<svg>
								<circle class="{{ statusOf( 'ips', aggregate.ips.allocated ).status }}" cx="7" cy="7" r="7"></circle>
							</svg>
						</div>
						<p class="status">{{ statusOf( 'ips', aggregate.ips.allocated ).text }}</p>
					</div>
				</div>
				<div class="card_body">
					<div class="stat_big">
						<p class="{{ statusOf( 'ips', aggregate.ips.allocated ).status }}">{{ aggregate.ips.allocated | number:0 }}<span class="unit">%</span></p>
						<p class="kpi_label">addresses allocated</p>
					</div>
					<div class="stat_small">
						<p class="{{ statusOf( 'ips', aggregate.ips.committed ).status }}">{{ aggregate.ips.committed | number:0 }}<span class="unit">%</span></p>
						<p class="kpi_label">committed</p>
					</div>
				</div>
				<div class="trend">
					<img src="/img/trend4.png" alt="trend chart"/>
				</div>
			</div>
		</div>
	</div>
	<div class="card_nav" ng-style="{ visibility: isTab('load') && 'visible' || 'hidden' }">	
		<div class="triangle_pointer"></div>
	</div>
	<div class="card_nav" ng-style="{ visibility: isTab('memory') && 'visible' || 'hidden' }">	
		<div class="triangle_pointer"></div>
	</div>
	<div class="card_nav" ng-style="{ visibility: isTab('storage') && 'visible' || 'hidden' }">	
		<div class="triangle_pointer"></div>
	</div>
	<div class="card_nav" ng-style="{ visibility: isTab('ip') && 'visible' || 'hidden' }">	
		<div class="triangle_pointer"></div>
	</div>
	
	<div class="content" ng-show="isTab('load')">
		<span class="timestamp">{{status}}</span>
		<div id="heatmap"></div>
		<div class="row-fluid average">
			<div class="span4">
				<p>{{ load.average.shortterm | number:2 }}</p>
				<div class="kpi-label">1 minute</div>
			</div>
			<div class="span4">
				<p>{{ load.average.midterm | number:2 }}</p>
				<div class="kpi-label">5 minutes</div>
			</div>
			<div class="span4">
				<p>{{ load.average.longterm | number:2 }}</p>
				<div class="kpi-label">15 minutes</div>
			</div>
		</div>
	</div>
	
	<div class="content" ng-show="isTab('memory')"></div>
	<div class="content" ng-show="isTab('storage')"></div>
	<div class="content" ng-show="isTab('ip')"></div>
	
</div>
<script src="lib/nvd3/nv.d3.js"></script>


