<div>
	<div id="cardgroup">
		<div class="card-area" ng-click="switchCard('load')">
			<div id="cpu-card" class="card" ng-class="card == 'load' && 'active'">
				<div class="card-header">
					<div class="card-name">
						<p>Load</p>
					</div>
					<div class="status-area">
						<div class="status-icon">
							<svg>
								<circle class="{{ statusOf( 'load', aggregate.load.average ).status }}" cx="7" cy="7" r="7"></circle>
							</svg>
						</div>
						<p class="status">{{ statusOf( 'load', aggregate.load.average ).text }}</p>
					</div>
				</div>
				<div class="card-body">
					<div class="stat-big">
						<p class="{{ statusOf( 'load', aggregate.load.average ).status }}">
							{{ aggregate.load.average | number:2 }}<span class="unit"></span>
							<!-- KI2Sui: this prevents style from falling apart. 
								Need you to alter styles. -->
						</p>
						<p class="kpi-label">average load</p>
					</div>
					<div class="stat-small">
						<p class="{{ statusOf( 'load', aggregate.load.peak ).status }}">
							{{ aggregate.load.peak | number:2 }}<span class="unit"></span>
						</p>
						<p class="kpi-label">peak</p>
					</div>
				</div>
				<div class="trend">
					<img src="/img/trend1.png" alt="trend chart"/>
				</div>
			</div>
		</div>
		<div class="card-area" ng-click="switchCard('memory')">
			<div id="memory-card" class="card" ng-class="card == 'memory' && 'active'">
				<div class="card-header">
					<div class="card-name">
						<p>Memory</p>
					</div>
					<div class="status-area">
						<div class="status-icon">
							<svg>
								<circle class="{{ statusOf( 'memory', aggregate.memory.allocated ).status }}" cx="7" cy="7" r="7"></circle>
							</svg>
						</div>
						<p class="status">
							{{ statusOf( 'memory', aggregate.memory.allocated ).text }}
						</p>
					</div>
				</div>
				<div class="card-body">
					<div class="stat-big">
						<p class="{{ statusOf( 'memory', aggregate.memory.allocated ).status }}">
							{{ aggregate.memory.allocated | number:0 }}<span class="unit">%</span>
						</p>
						<p class="kpi-label">capacity allocated</p>
					</div>
					<div class="stat-small">
						<p class="{{ statusOf( 'memory', aggregate.memory.committed ).status }}">
							{{ aggregate.memory.committed | number:0 }}<span class="unit">%</span>
						</p>
						<p class="kpi-label">committed</p>
					</div>
				</div>
				<div class="trend">
					<img src="/img/trend2.png" alt="trend chart"/>
				</div>
			</div>
		</div>
		<div class="card-area" ng-click="switchCard('storage')">
			<div id="storage-card" class="card" ng-class="card == 'storage' && 'active'">
				<div class="card-header">
					<div class="card-name">
						<p>Storage</p>
					</div>
					<div class="status-area">
						<div class="status-icon">
							<svg>
								<circle class="{{ statusOf( 'storage', aggregate.storage.allocated ).status }}" cx="7" cy="7" r="7"></circle>
							</svg>
						</div>
						<p class="status">
							{{ statusOf( 'storage', aggregate.storage.allocated ).text }}
						</p>
					</div>
				</div>
				<div class="card-body">
					<div class="stat-big">
						<p class="{{ statusOf( 'storage', aggregate.storage.average ).status }}">
							{{ b2s(aggregate.storage.average).value | number:0 }}<span class="unit">{{ b2s(aggregate.storage.average).multi }}</span>
						</p>
						<p class="kpi-label">average octets<br>24 hours</p>
					</div>
					<div class="stat-small">
						<p class="{{ statusOf( 'storage', aggregate.storage.peak ).status }}">
							{{ b2s(aggregate.storage.peak).value  | number:0 }}<span class="unit">{{ b2s(aggregate.storage.peak).multi }}</span>
						</p>
						<p class="kpi-label">peak</p>
					</div>
				</div>
				<div class="trend">
					<img src="/img/trend3.png" alt="trend chart"/>
				</div>
			</div>
		</div>
		<div class="card-area" ng-click="switchCard('network')">
			<div id="network-card" class="card" ng-class="card == 'network' && 'active'">
				<div class="card-header">
					<div class="card-name">
						<p>Network</p>
					</div>
					<div class="status-area">
						<div class="status-icon">
							<svg>
								<circle class="{{ statusOf( 'network-errors', aggregate.network.errors ).status }}" cx="7" cy="7" r="7"></circle>
							</svg>
						</div>
						<p class="status">{{ statusOf( 'network-errors', aggregate.network.errors ).text }}</p>
					</div>
				</div>
				<div class="card-body">
					<div class="stat-big">
						<p class="{{ statusOf( 'network', aggregate.network.average ).status }}">
							{{ b2s(aggregate.network.average).value | number:0 }}<span class="unit">{{ b2s(aggregate.network.average).multi }}</span>
						</p>
						<p class="kpi-label">average octets<br>24 hours</p>
					</div>
					<div class="stat-small">
						<p class="{{ statusOf( 'network', aggregate.network.peak ).status }}">
							{{ b2s(aggregate.network.peak).value | number:0 }}<span class="unit">{{ b2s(aggregate.network.peak).multi }}</span>
						</p>
						<p class="kpi-label">peak</p>
					</div>
				</div>
				<div class="trend">
					<img src="/img/trend4.png" alt="trend chart"/>
				</div>
			</div>
		</div>
	</div>
	<div class="card-nav-group">
		<div class="card-nav" ng-style="{ visibility: card == 'load' && 'visible' || 'hidden' }">	
			<div class="triangle-pointer"></div>
		</div>
		<div class="card-nav" ng-style="{ visibility: card == 'memory' && 'visible' || 'hidden' }">	
			<div class="triangle-pointer"></div>
		</div>
		<div class="card-nav" ng-style="{ visibility: card == 'storage' && 'visible' || 'hidden' }">	
			<div class="triangle-pointer"></div>
		</div>
		<div class="card-nav" ng-style="{ visibility: card == 'network' && 'visible' || 'hidden' }">	
			<div class="triangle-pointer"></div>
		</div>
	</div>
	
	<div class="content" ng-show="card == 'load'">
		<div class="content-labels left">
			<p>Realtime Load by Host</p>
			<p>Average Load in Near Past</p>
		</div>
		<div class="content-charts right">
			<div class="load-by-host">
				<d3-legend limits="0.5, 0.8" val="load.heatmap" class="heatmap-stats"></d3-legend>
				<div class="chart-heatmap">
					<d3-tooltip message="tooltip"></d3-tooltip>
					<d3-heatmap d3-click="moveTo(key)" d3-mouseover="showTooltip(key, value, 'Load average')" 
						d3-mouseout="hideTooltip()" d3-mousemove="moveTooltip(x,y)" 
						val="load.heatmap" domain="0,1" config="config">
					</d3-heatmap>
				</div>
				<div class="heatmap-legend">
					<div class="numbers">
						<p>1</p>
						<p>.5</p>
						<p>0</p>
					</div>
					<div class="legend-line">
						<div class="cell9"></div>
						<div class="cell8"></div>
						<div class="cell7"></div>
						<div class="cell6"></div>
						<div class="cell5"></div>
						<div class="cell4"></div>
						<div class="cell3"></div>
						<div class="cell2"></div>
						<div class="cell1"></div>
						<div class="cell0"></div>
					</div>
				</div>
			</div>
			<div class="row-fluid average">
				<div class="span4">
					<d3-speedometer val="load.average.shortterm | number:2" title="1 minute"></d3-speedometer>
				</div>
				<div class="span4">
					<d3-speedometer val="load.average.midterm | number:2" title="5 minutes"></d3-speedometer>
				</div>
				<div class="span4">
					<d3-speedometer val="load.average.longterm | number:2" title="15 minutes"></d3-speedometer>
				</div>
			</div>
		</div>
	</div>
	
	<div class="content" ng-show="card == 'memory'">
		<div class="content-labels left">
			<p>Memory<br>by Host</p>
		</div>
		<div class="content-charts right">
			<div class="memory-by-host">
				<d3-legend limits="0.5, 1" val="memory.heatmap" class="heatmap-stats"></d3-legend>
				<div class="chart-heatmap">
					<d3-tooltip message="tooltip"></d3-tooltip>
					<d3-heatmap d3-click="moveTo(key)" d3-mouseover="showMemoryTooltip(key, details, 'Memory used')" 
						d3-mouseout="hideTooltip()" d3-mousemove="moveTooltip(x,y)" 
						val="memory.heatmap" domain="0,1" config="config">
					</d3-heatmap>
				</div>
				<div class="heatmap-legend">
					<div class="numbers">
						<p>100%</p>
						<p>50%</p>
						<p>0</p>
					</div>
					<div class="legend-line">
						<div class="cell9"></div>
						<div class="cell8"></div>
						<div class="cell7"></div>
						<div class="cell6"></div>
						<div class="cell5"></div>
						<div class="cell4"></div>
						<div class="cell3"></div>
						<div class="cell2"></div>
						<div class="cell1"></div>
						<div class="cell0"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content" ng-show="card == 'storage'">
		<div class="content-labels left">
			<p>Storage Throughput<br>by Host</p>
		</div>
		<div class="content-charts right">
			<div class="storage-by-host">
				<d3-legend limits="1024, 1048576" val="storage.heatmap" class="heatmap-stats"></d3-legend>
				<div class="chart-heatmap">
					<d3-tooltip message="tooltip"></d3-tooltip>
					<d3-heatmap d3-click="moveTo(key)" d3-mouseover="showNetworkTooltip(key, value, 'Storage Throughput')" 
						d3-mouseout="hideTooltip()" d3-mousemove="moveTooltip(x,y)" 
						val="storage.heatmap" domain="0, 1024, 1048576" config="config">
					</d3-heatmap>
				</div>
				<div class="heatmap-legend">
					<div class="numbers">
						<p>1 Mbit</p>
						<p>1 Kbit</p>
						<p>1 bit</p>
					</div>
					<div class="legend-line">
						<div class="cell9"></div>
						<div class="cell8"></div>
						<div class="cell7"></div>
						<div class="cell6"></div>
						<div class="cell5"></div>
						<div class="cell4"></div>
						<div class="cell3"></div>
						<div class="cell2"></div>
						<div class="cell1"></div>
						<div class="cell0"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content" ng-show="card == 'network'">
		<div class="content-labels left">
			<p>Network Throughput<br>by Host</p>
		</div>
		<div class="content-charts right">
			<div class="network-by-host">
				<d3-legend limits="1024, 1048576" val="network.heatmap" class="heatmap-stats"></d3-legend>
				<div class="chart-heatmap">
					<d3-tooltip message="tooltip"></d3-tooltip>
					<d3-heatmap d3-click="moveTo(key)" d3-mouseover="showNetworkTooltip(key, value, 'Network Throughput')" 
						d3-mouseout="hideTooltip()" d3-mousemove="moveTooltip(x,y)" 
						val="network.heatmap" domain="0, 1024, 1048576" config="config">
					</d3-heatmap>
				</div>
				<div class="heatmap-legend">
					<div class="numbers">
						<p>1 Mbit</p>
						<p>1 Kbit</p>
						<p>1 bit</p>
					</div>
					<div class="legend-line">
						<div class="cell9"></div>
						<div class="cell8"></div>
						<div class="cell7"></div>
						<div class="cell6"></div>
						<div class="cell5"></div>
						<div class="cell4"></div>
						<div class="cell3"></div>
						<div class="cell2"></div>
						<div class="cell1"></div>
						<div class="cell0"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>