.canvas {
	height: 550px;
	display: block;
	position: relative;
	font-size: 0.8em;
}

.left-canvas {
  height:100%;
  width: 494px;
  border-width: 1px;
  -o-border-image: -o-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
  -moz-border-image: -moz-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
  -ms-border-image: -ms-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom: 0px;
}

.right-canvas {
  height:100%;
  width: 495px;
}

.top-canvas {
	height: 220px;
	position: relative;
}

.bottom-canvas {
	height: 280px;
	position: relative;
}

.canvas-label {
	font-size: 2em;
	margin-left: 30px;
	margin-top: 30px;
	color: #CCCCCC;
}

.donut-chart {
	width: 300px;
}

.kpi-group {
	width: 180px;
	height: 90%;
	font-size: 3.5em;
	line-height: 80%;
	position: relative;
}

.sub-stats {
	font-size: 0.5em;
	color: #AAAAAA;
	padding-top: 12px;
}

.donut-chart svg {
	margin: 20px;
	margin-top: 0;
}

.stat-label { 
	font-size: 18px;
	color: #CCCCCC;
}

.chart-kpi {
  font-size: 4em;
}

.chart-label {
	font-size: 18px;
	fill: #CCCCCC;
}

.svg-warning {
    fill: #FF7000;
}

.svg-attention {
    fill: #FFD717;
}

.svg-normal {
    fill: #18E000;
}

.load-1 {
    fill: #EEEEEE;
}

.vcpu-stats {
	margin-top: 75px;
	margin-left: 45px;
	margin-right: 60px;
	height: 40px;
	position: relative;
	font-size: 3.5em;
}

.vcpus {
	margin: 0 60px;
   display: block;
}


.storage-stats {
	position: relative;
	margin-top: 20px;
	margin-right: 55px;
	margin-left: 45px;
	font-size: 3.5em;
	height: 45px;
}

.storage-bar {
	margin-left: 60px;
	padding-bottom: 20px;
	height: 30px;
	text-align: center;
	font-size: 1.2em;
	color: white;
}

.storage-bar p {
	padding-top: 4px; 
}

.storage-bar .unit{
	font-size: 0.8em;
}

.storage-bar-usage {
	width: 285px;
	height: 100%;
	background-color: #18E000;		
	float: left;
}

.storage-bar-free {
	width: 80px;
	height: 100%;
	background-color: #EEEEEE;
	float: left;
}

.storage-bar-free p {
	color: #CCCCCC;
}

.bar-label {
	color: #CCCCCC;
	font-size: 0.8em;
}

.storage-allocation {
	margin-left: 60px;
	height: 10px;
}

.storage-allocation-usage {
	width: 320px;
	height: 100%;
	background-color: #CCCCCC;		
	float: left;
}

.storage-allocation-free {
	width: 70px;
	height: 100%;
	background-color: #EEEEEE;
	float: left;
	border-right: 1px solid red;
}

.timeline {
	background-color: #EEEEEE;
   position: relative;
   cursor: default;
}

.timeline .periods {
   position: absolute;
   top: 10px;
   left: 10px;
   background-color: rgba(128, 128, 128, 0.2);
   padding: 2px 10px;
   border-radius: 12px;
   line-height: 20px;
}

.timeline .period {
   margin: -2px 6px;
   padding: 2px 4px;
   cursor: pointer;
}

.timeline .period.active {
   font-weight: bold;
}

.timeline .graph {
   stroke-width: 2;
   fill: none;
}

.timeline .load {
   stroke: steelblue;
}

.timeline .memory {
   stroke: red;
}

.timeline .meridian {
   stroke: #ccc;
   stroke-width: 1px;
   visibility: hidden;
}

.timeline .meridian-bg {
   stroke: transparent;
   stroke-width: 10px;
}

.timeline .active .meridian {
   visibility: visible;
}

.timeline .x-axis {
  color: #888;
}