#body_area {
  background-color: white;
  line-height: 135%;
}

.row-fluid {
  padding-top: 10px;
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  width: 1320px;
  margin: 20px auto 20px auto;
  font-family: Century Gothic, sans-serif;
  border-top: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-top-left-radius: 20px;
  border-right: 1px solid #CCCCCC;
  border-top-right-radius: 20px;
  box-shadow: 0px 0px 35px 5px #CCCCCC;
}

footer p {
   text-align: center;
}

body {
  font-size: 14px;
  shape-rendering: crispEdges;
}

#cardgroup {
  height: 280px;
  background-color: white;
}

.card_area {
  width: 25%;
  height: 100%;
  float: left;
}

.card {
  padding: none;
  float: left;
  background-color: rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
  min-width: 300px;
  border-width: 1px;
  -o-border-image: -o-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
  -moz-border-image: -moz-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
  -ms-border-image: -ms-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom: 0px;
/*  
  background-image: linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #FFFFFF 50%);
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #FFFFFF 50%);
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #FFFFFF 50%);
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #FFFFFF 50%);
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #FFFFFF 50%);
*/
}

.card:hover {
  cursor: pointer;
  background-image: linear-gradient(top, #FFFFFF 0%, #C4FFF8 50%, #C4FFF8 100%);
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #C4FFF8 50%, #C4FFF8 100%);
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #C4FFF8 50%, #C4FFF8 100%);
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #C4FFF8 50%, #C4FFF8 100%);
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #C4FFF8 50%, #C4FFF8 100%);
}

#cpu_card {
  border: none;
  background-image: linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #EEEEEE 100%);
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #EEEEEE 100%);
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #EEEEEE 100%);
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #EEEEEE 100%);
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #EEEEEE 100%);
}


.card_header {
  height: 80px;
  padding-bottom: 20px;
}

.card_name {
  float: left;
  font-size: 1.5em;
  width: 40%;
  height: 100%;
}

.card_name p {
  color: #777777;
  margin-top: 22px;
  margin-left: 25px;
}

.status_area {
  float: right;
  font-size: 1.2em;
  color: #AAAAAA;
  width: 60%;
  height: 100%;
}

.status {
  margin-top: 22px;
  margin-right: 5px;
  float: right;
}

.status_icon {
  margin-top: 25px;
  margin-right: 25px;
  width: 16px;
  float: right;
}

.status_icon .warning {
  fill: #FF7000;
}

.status_icon .normal {
  fill: #18E000;
}

.status_icon .attention {
  fill: #FFD717;
}

.card_body {
  height: 30%;
  margin-left: 15px;
}

.stat_big {
  width: 60%;
  float: left;
  text-align: right;
}

.stat_small {
  width: 40%;
  float: right;
  text-align: right;
  padding-top: 13px; /* hard coded padding to push the text down. need a better way. */
}

.stat_big p {
  font-size: 5.5em;
  margin-right: 15px;
  margin-bottom: 10px;
}

.stat_small p {
  font-size: 3em;
  margin-right: 40px;
  margin-bottom: 10px;
}

.card_body .warning {
  color: #FF7000;
  font-weight: bold;
  font-size: 6em;
}

.card_body .normal {
  color: #999999;
}

.card_body .attention {
  color: #FFD717;
}

.card_body .kpi_label {
  font-size: 1em;
  font-weight: normal;
  color: #AAAAAA;
  font-style: italic;
}

.card_body .unit {
  font-size: 20px;
  font-weight: normal;
  color: #AAAAAA;
}

.card .trend {
  padding-top: 20px;
}

.card .trend img {
  width: 200px;
  height: 40px;
  vertical-align: middle;
  margin-left: 60px;
}

#card_nav {
  float: left;
  margin-left: 105px;
  height: 40px;
  width: 120px;
  background-color: transparent;
}

#triangle_pointer {
  height: 0;
  width: 0;
  border-top: 20px solid #EEEEEE;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}

#content {
  background-color: #333333;
  padding: 50px 30px;
}

.heatmap rect {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  pointer-events: all;
}

.heatmap:hover > rect {
  opacity: 1;
}

.heatmap:hover > rect:hover {
  opacity: 0.5;
  stroke: #00ffff;
  stroke-width: 4px;
  stroke-opacity: 1; 
  cursor: pointer;
}

.heatmap .cell9 {fill:rgb(165,0,38)}
.heatmap .cell8 {fill:rgb(215,48,39)}
.heatmap .cell7 {fill:rgb(244,109,67)}
.heatmap .cell6 {fill:rgb(253,174,97)}
.heatmap .cell5 {fill:rgb(254,224,139)}
.heatmap .cell4 {fill:rgb(255,255,191)}
.heatmap .cell3 {fill:rgb(217,239,139)}
.heatmap .cell2 {fill:rgb(166,217,106)}
.heatmap .cell1 {fill:rgb(102,189,99)}
.heatmap .cell0 {fill:rgb(26,152,80)}

#heatmap {
  padding: 20px;
  height: 500px;
}

.mytooltip {
  background-color: white;
  opacity: 0.8;
  border-radius: 5px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 16px;
  padding: 10px; 
  box-shadow: 0px 0px 15px 5px #888888;
}

.timestamp {
  font-family: "Arial", Gadget, sans-serif;
  font-size: 1em;
  color: #AAAAAA;
  padding: 10px;
  float: right;
}

