@import url(details.css);

#body-area {
  background-color: white;
  line-height: 135%;
}

.main {
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  font-family: Century Gothic, sans-serif;
  box-shadow: 0px 0px 35px 5px #CCCCCC;
}

.navbar-inner > .container-fluid {
  text-align: center;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 0px; 
}

footer p {
   text-align: center;
}

body {
  font-size: 14px;
  shape-rendering: crispEdges;
}


.right {
  position: absolute;
  right: 15px;
  float: right;
  display: inline;
  height: 100%;
}

.left {
  position: absolute;
  left: 15px;
  float: left;
  display: inline;
  height: 100%;
}

.bottom {
  position: absolute;
  bottom: 15px;
  clear: both;
}

#cardgroup {
  height: 240px;
  background-color: white;
  font-size: 0.8em;
}

.card-area {
  width: 25%;
  height: 100%;
  float: left;
}

.card {
  padding: none;
  float: left;
  background-color: rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
  border-width: 1px;
  -o-border-image: -o-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
  -moz-border-image: -moz-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
  -ms-border-image: -ms-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(bottom, white 0%, #CCCCCC 60%, white 100%) 1 100%;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom: 0px;
/*  
  background-image: linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #FFFFFF 50%);
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #FFFFFF 50%);
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #FFFFFF 50%);
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #FFFFFF 50%);
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #FFFFFF 50%);
*/
}

.card:hover {
  cursor: pointer;
  background-image: linear-gradient(top, #FFFFFF 0%, #C4FFF8 50%, #C4FFF8 100%);
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #C4FFF8 50%, #C4FFF8 100%);
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #C4FFF8 50%, #C4FFF8 100%);
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #C4FFF8 50%, #C4FFF8 100%);
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #C4FFF8 50%, #C4FFF8 100%);
}

.card.active {
  /*border: none;*/
  background-image: linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #EEEEEE 100%);
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #EEEEEE 100%);
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #EEEEEE 100%);
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #EEEEEE 100%);
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EEEEEE 10%, #EEEEEE 100%);
}


.card-header {
  height: 70px;
  padding-bottom: 20px;
}

.card-name {
  float: left;
  font-size: 1.5em;
  width: 40%;
  height: 100%;
}

.card-name p {
  color: #777777;
  margin-top: 22px;
  margin-left: 25px;
}

.status-area {
  float: right;
  font-size: 1.2em;
  color: #AAAAAA;
  width: 60%;
  height: 100%;
}

.status {
  margin-top: 22px;
  margin-right: 5px;
  float: right;
}

.status-icon {
  margin-top: 25px;
  margin-right: 25px;
  width: 16px;
  float: right;
}

.status-icon .warning {
  fill: #FF7000;
}

.status-icon .normal {
  fill: #18E000;
}

.status-icon .attention {
  fill: #FFD717;
}

.card-body {
  height: 30%;
  margin-left: 15px;
}

.stat-big {
  width: 60%;
  float: left;
  text-align: right;
}

.stat-small {
  width: 40%;
  float: right;
  text-align: right;
  padding-top: 11px; /* hard coded padding to push the text down. need a better way. */
}

.stat-big p {
  font-size: 5.5em;
  margin-right: 15px;
  height: 45px;
}

.stat-small p {
  font-size: 3em;
  margin-right: 40px;
  height: 34px;
}

.card-body .warning {
  color: #FF7000;
  font-weight: bold;
  /* font-size: 6em; /* break card when inside .stat-small */
}

.card-body .normal {
  color: #999999;
}

.card-body .attention {
  color: #FFD717;
}

.card-body .kpi-label {
  font-size: 1em;
  font-weight: normal;
  color: #AAAAAA;
  font-style: italic;
}

.card-body .unit {
  font-size: 20px;
  font-weight: normal;
  color: #AAAAAA;
}

.card .trend {
  padding-top: 20px;
}

.card .trend img {
  width: 150px;
  height: 30px;
  vertical-align: middle;
  margin-left: 50px;
}

.card-nav-group {
  background-color: #333;
  height: 40px;
}

.card-nav {
  float: left;
  width: 25%;
  background-color: transparent;
}

.triangle-pointer {
  margin: 0 70px;
  height: 0px;
  width: 0px;
  border-top: 20px solid #EEEEEE;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}

.content {
  background-color: #333;
  padding: 30px 30px;
  position: relative;
  height: 450px;
}

.content-labels {
  width: 20%;
/*   border-width: 1px;
  -o-border-image: -o-linear-gradient(bottom, #333333 15%, #AAAAAA 60%, #333333 90%) 1 100%;
  -moz-border-image: -moz-linear-gradient(bottom, #333333 15%, #AAAAAA 60%, #333333 90%) 1 100%;
  -ms-border-image: -ms-linear-gradient(bottom, #333333 15%, #AAAAAA 60%, #333333 90%) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(bottom, #333333 15%, #AAAAAA 60%, #333333 90%) 1 100%; 
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom: 0px;*/
  border-right: solid 1px #999;
}

.content-labels p{
  color: #AAAAAA;
  font-size: 1.2em;
  text-align: right;
  padding: 15px 15px 200px 60px;
}

.content-charts {
  width: 75%;
}

.content:empty:after {
   content: "Still working on it =(";
   color: #adadad;
   text-align: center;
   display: block;
   font-size: 5em;
   padding: 3em 2em;
}

.load-by-host {
  position: relative;
  height: 270px;
}

.heatmap rect {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  pointer-events: all;
}

.heatmap:hover > rect {
  opacity: 1;
}

.heatmap:hover > rect:hover {
  opacity: 0.5;
  stroke: #00ffff;
  stroke-width: 4px;
  stroke-opacity: 1; 
  cursor: pointer;
}

.box {
    width: 40px;
    height: 40px;
    display: block;
    background-color: gray;
    margin: 0 2px 2px 0;
    float:left;
}

.heatmap .cell9, .heatmap-legend .cell9 {background-color: #ff3500;}
.heatmap .cell8, .heatmap-legend .cell8 {background-color: #ff6f00;}
.heatmap .cell7, .heatmap-legend .cell7 {background-color: #ffa800;}
.heatmap .cell6, .heatmap-legend .cell6 {background-color: #cdb400;}
.heatmap .cell5, .heatmap-legend .cell5 {background-color: #8bc400;}
.heatmap .cell4, .heatmap-legend .cell4 {background-color: #6acc00;}
.heatmap .cell3, .heatmap-legend .cell3 {background-color: #49d400;}
.heatmap .cell2, .heatmap-legend .cell2 {background-color: #0dd15f;}
.heatmap .cell1, .heatmap-legend .cell1 {background-color: #08c98e;}
.heatmap .cell0, .heatmap-legend .cell0 {background-color: #01bfce;}

.chart-heatmap {
  position: absolute;
  left: 100px;
  padding: 20px;
  height: 200px;
  width: 75%;
}

.chart-heatmap .box {
  cursor: pointer;
}

.heatmap-stats {
  position: absolute;
  left: 0;
  top: 15px;
  width: 100px;
  height: 150px;
  line-height: 2em;
  text-align: right;
}

.heatmap-stats .hot {
  font-size: 2em; 
  color: #FF7000;
}

.heatmap-stats .cold, .warm{
  font-size: 1.5em;
  color: #CCC;
}

.heatmap-stats .temp-label {
  font-size: 0.5em;
  color: #AAA;
}

.heatmap-legend {
  position: absolute;
  right: 20px;
  top: 100px;
  width: 60px;
  height: 100px;
}

.heatmap-legend .numbers {
  float: right;
  width: 48px;
  height: 100%;
}

.heatmap-legend .numbers > p {
  color: #AAA;
  font-size: 0.7em;
  line-height: 65px;
  margin-top: -23px;
}

.heatmap-legend .legend-line {
  float: left;
  width: 5px;
  height: 100%;
}

.heatmap-legend .legend-line > div {
  height: 10%;
  width: 100%;
}

.mytooltip {
  position: relative; 
  left: -50%;
  background-color: white;
  opacity: 0.8;
  border-radius: 5px;
  font-family: "Arial", Gadget, sans-serif;
  font-size: 16px;
  padding: 10px; 
  box-shadow: 0px 0px 15px 5px #888888;
  pointer-events: none;
}

.mytooltip .head {
  font-weight: bold;
}

.timestamp {
  font-family: "Arial", Gadget, sans-serif;
  font-size: 0.8em;
  color: #777777;
}

.host-url { 
  font-size: 1.5em;
}

.center { 
  display: inline;
}

.average {
  color: #adadad;
  text-align: center;
  font-family: 'Century Gothic', sans-serif;
}

.average .load-1 {
  fill: #555555;
}

.average p {
  font-size: 3em;
}

.average .kpi-label {
  font-size: 1em;
}

svg {
   shape-rendering: geometricPrecision;
}

svg text {
    font-family: Century Gothic, sans-serif;
    color: #CCCCCC;
}
