svg {
	min-height: 100px;
	min-width: 100px;
}

footer p {
   text-align: center;
}

body {
  font: 14px sans-serif;
  shape-rendering: crispEdges;
}

.heatmap rect {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  pointer-events: all;
}

.heatmap:hover > rect {
  opacity: 1;
}

.heatmap:hover > rect:hover {
  opacity: 0.5;
  stroke: #00ffff;
  stroke-width: 4px;
  stroke-opacity: 1; 
  cursor: pointer;
}

.heatmap .cell9 {fill:rgb(165,0,38)}
.heatmap .cell8 {fill:rgb(215,48,39)}
.heatmap .cell7 {fill:rgb(244,109,67)}
.heatmap .cell6 {fill:rgb(253,174,97)}
.heatmap .cell5 {fill:rgb(254,224,139)}
.heatmap .cell4 {fill:rgb(255,255,191)}
.heatmap .cell3 {fill:rgb(217,239,139)}
.heatmap .cell2 {fill:rgb(166,217,106)}
.heatmap .cell1 {fill:rgb(102,189,99)}
.heatmap .cell0 {fill:rgb(26,152,80)}

#heatmap {
  padding: 20px 20px 20px 20px;
  height: 100%;
}

.mytooltip {
  background-color: white;
  opacity: 0.8;
  border-radius: 5px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  padding: 10px 10px 10px 10px; 
  box-shadow: 0px 0px 15px 5px #888888;
}